/* BUTTON LIST CATEGORIES */
.tableFixHead          { overflow: auto; height: 300px;  }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background-color: #41283b;}

/* Just common table stuff. Really. */
.tableFixHead table  { border-collapse: collapse; width: 100%; }

.bg-saas {
    background-color: #41283b;
}

.nav-item {
    color: #fff;
}

.nav-linktag {
    color: #fff;
}